@font-face{
    font-family: digital;
    src: url('../data/fonts/DJBGetDigital.ttf')
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
.stopFloat{
    flex: none;
    clear: both;
}
#container{
    padding: 30px 50px;
    width: calc(100% - 100px);
    height: calc(100vh - 60px);
    overflow: hidden;
    background-color: #92aac7;
    /*background-image: url('../data/images/bgbb.jpg');
    background-size: cover;
    background-position-x: center;*/
}

/*main Menu*/
#mainMenu{
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100vh;
    overflow: hidden;
    background-color: #c13525;
    z-index: 15;
}
#mainMenuButtons{
    width: 250px;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    float: left;
}
#mainMenuShow{
    position: fixed;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    background-color: transparent;
    background-image: url('../data/images/menuIcon.png');
    background-size: cover;
    cursor: pointer;
    z-index: 12;
    transition: all 200ms;
}
#mainMenuShow:hover{
    background-color: rgba(100, 100, 100, 0.5);
}
#mainMenuHide{
    width: 29px;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    border-left: 1px solid #962e23;
    float: left;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 100vh;
    cursor: pointer;
    transition: all 200ms;
}
#mainMenuHide:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.menuItem{
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 22px;
    text-align: left;
    line-height: 30px;
    transition: all 200ms;
}
.menuItem.active{
    background-color: white;
    color: #c13525;
}
.menuItem:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.help{
    max-height: calc(100vh - 300px);
    overflow: auto;
    background-color: rgba(200, 200, 200, 0.4);
    margin: 10px;
    padding: 15px;
}

/* Tabulka */
#scoreTable{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 90vh;
    padding: 5vh 0;
    background-color: rgba(200, 200, 200, 0.8);
}
#scoreTable h2{
    font-size: 30px;
    margin: 0px;
    text-align: center;
    color: #5c4912;
}
#scoreTable table{
    margin: 100px auto;
    background-color: #e4ce89;
    color: #5c4912;
    font-weight: bold;
    font-size: 24px;
    min-width: 70%;
}
#scoreTable table td{
    padding: 20px;
}
#scoreTable table tr:nth-child(odd){
    background-color: #fff3d1;

}
.tabBtn{
    color: #5c4912;
    border: 2px solid #5c4912;
    background-color: #fff3d1;
    border-radius: 3px;
}
.tabBtn:hover{

    background-color: #5c4912;
    color: #fff3d1;
}
.tabInput{
    border-radius: 3px;
}

/* Intro */
#logoHolder{
    position: relative;
    text-align: center;
    height: 80vh;
    overflow: hidden;
}
#logoHolder img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
}
#videoWrapperIntro{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
}
#videoWrapperIntro video{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Videa */
#videoWrapper{
    /*width: 100%;*/
}
#videoWrapper video{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 100%;
    max-height: calc(100vh - 200px);
    margin: 0 auto;
}
#sourceList{
    width: 100%;
    height: 40px;
    padding-bottom: 30px;

    display: flex;
}
#sourceList div{
    flex: 1;
}
#sourceList div button{
    display: block;
    width: 80%;
    height: 40px;
    margin: 0 10%;
    border: none;
    background-color: #283655;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    transition: all 200ms;
}
#sourceList div button:hover{
    background-color: #577aa3;
    color: #283655;
}
@media only screen and (max-width: 1000px) {
    #sourceList div button{
        font-size: 15px;
    }
}

/* Pesnicky */
#audioWrapper{
    /*width: 100%;*/
    text-align: center;
}
#otaznik{
    padding: 0;
    margin: 0px 0px 30px;
    height: calc(93vh - 180px);
    /*max-height: 630px;*/
    background-image: url('../data/images/otaznik.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#playBtn{
    display: block;
    margin: 0 auto;
    width: 7vh;
    height: 7vh;
    max-width: 64px;
    max-height: 64px;
    border: none;
    background-color: transparent;
    background-image: url('../data/images/play.png');
    background-size: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: all 200ms;
}
#playBtn:hover{
    opacity: 1;
}

#audioWrapper audio{
    width: 50%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 200ms;
    transition-delay: 1s;
}

#audioWrapper audio:hover{
    opacity: 1;
}

/* Slova */
#slovaBody, #slovaCas{
    padding: 50px;
    text-align: center;
    font-size: 100px;
}

#slovaCas{
    font-family: digital;
}

#slovaNastavenie{
    position: fixed;
    background-color: rgba(231, 235, 252, 0.6);
    padding: 10px;
    top: 20px;
    right: 20px;
}

/* Party */
#partyStav{
    position: fixed;
    background-color: rgba(231, 235, 252, 0.6);
    padding: 10px;
    top: 100px;
    right: 0px;
    text-align: right;
    min-width: 110px;
}
#partyBody, #partyCas{
    padding: 20px;
    font-size: 30px;
}
#partyCas{
    font-family: digital;
}
#partyNastavenie{
    position: fixed;
    background-color: rgba(231, 235, 252, 0.6);
    padding: 10px;
    top: 100px;
    left: 20px;
}

#sourceListParty, #sourceListOdhad{
    width: calc(100% - 50px);
    min-height: 44px;
    padding: 10px 25px;
}
#sourceListParty button, #sourceListOdhad button{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin: 3px;
    border: none;
    border-radius: 8px;
    background-color: #283655;
    cursor: pointer;
    transition: all 200ms;
}
#sourceListParty button:hover, #sourceListOdhad button:hover{
    background-color: #577aa3;
}
#sourceListParty button.active, #sourceListOdhad button.active{
    background-color: white;
    box-shadow: 0px 0px 4px #283655;
}

#partyObr, #odhadObr{
    padding: 0;
    margin: 0px 0px 30px;
    height: calc(93vh - 180px);
    /*max-height: 630px;*/
    background-image: url('../data/images/party/p1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#odhadObr{
    background-image: url('../data/images/odhad/o1.jpg');
}

#partyOtazka, #partyOdpoved, #odhadOtazka{
    text-align: center;
    font-size: 24px;
}
#partyOdpoved{
    display: none;
    font-weight: bold;
}
#odhadOtazka{
    display: none;
}
